.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hover-list:hover {
  color: yellow;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(255, 255, 255);
  cursor: url('https://cur.cursors-4u.net/games/images13/gam1308.gif'), auto;
}

.hover-link:hover {
  color: yellow;
  border-radius: 25px;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, red, black);
  cursor: url('https://cur.cursors-4u.net/games/images13/gam1308.gif'), auto;
}

.margin-link {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px yellow;
  margin-top: 25px;
  margin-bottom: 25px;
}

.padding-item {
  padding: 25px;
}

.center-item {
  text-align: 'center'
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}